::selection {
    background: #7AFFE1;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #7AFFE1;
    /* Gecko Browsers */
}

.ui.label.role-label {
    color: #658595;
    background-color: #D5EDFB;
}

.footer-text {
    color: #707988;
    font-size: 1.33em;
    font-style: italic;
    padding: 0.5em 0 1em
}

.card-link {
    color: #707988;
}

.card-link:hover {
    color: #0C5FFF;
}

.nav-header {
    display: none;
}

.Navbar {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #FFFFFF80;
    text-transform: uppercase;
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    z-index: 90;
}

.navbar-text {
    text-transform: uppercase;
    color: #1A202C;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
}

.navbar-text:hover {
    color: #0C5FFF;
    display: block;
    font-weight: bold;
}

.ui.secondary.menu a.item.hamburger-item {
    color: #555B66;
    display: block;
}

.ui.secondary.menu a.item.hamburger-item:hover {
    background: transparent;
}

.card-title {
    color: #1A202C;
    position: 'relative';
    font-size: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    /* number of lines to show */
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-image-header {
    z-index: 1;
    position: relative;
    border-radius: 4px 4px 0 0;
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: 0 0%;
}

.tagline {
    color: #555B66;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    /* number of lines to show */
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.sidebar-text {
    color: #555B66;
    font-size: 1.2em;
}

.sidebar-text:hover {
    color: #0C5FFF;
}

.nav-button-text {
    color: #555B66;
    font-size: 1.2em;
}

.nav-button-text:hover {
    color: #0C5FFF;
}

@media only screen and (min-width: 720px) {
    .navbar-text {
        font-size: 1.55em;
        padding: 0.3em;
        display: block;
    }
    .navbar-text:hover {
        font-size: 1.55em;
        display: block;
    }
    .ui.secondary.menu a.item.hamburger-item {
        display: none;
    }
    .ui.right.sidebar.sidebar-menu {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        visibility: hidden;
    }
    .nav-header {
        display: flex;
    }
    .Navbar {
        display: none;
    }
}